body {
	background: none;
	font-size: 12px;
	line-height: 13px;
}

#outerbox {
	border-top: 2px solid #000;
	margin: 0px;
}

#header-print {
	display: none;
}

#header-background {
	padding: 0px;
 	background: none;
 	height: auto;
	border-bottom: 1px solid #ccc;
}

#header {
	display: none;
}

#logo {
	display: none;
}

#thayer-logo {
	display: none;
}

#header-print {
	display: block;
	width: auto;
	margin: 0px auto;
	text-align: left;
	padding: 10px 10px;
	height: auto;
	position: static;
}

#logo-print {
	width: 150px;
	height: 41px;
	border: none;
}

#thayer-logo-print {
	float: right; 
	width: 150px;
	height: 34px;
	border: 0; 
	margin-top: 2px;
}


/* Main content area */
#container {
	width: 100%;	
}

#navigation {
	display: none;
}	

#content {
	float: none;
	width: 100%;
}

#content h1, #content h2, #content h3 {
	color: #000;
}

#content h1 {
	margin-top: 20px;
	font-size: 18px;
}

#content h2 {
	font-size: 16px;
}

#content h3 {
	font-size: 14px;
}

#content h4 {
	font-size: 12px;
}


/* Footer */
#footer {
	font-size: 10px;
	line-height: 1.5em;
	margin-top: 0px;
	padding: 5px 20px;
	
}

