html {
	height: 100%;
	margin-bottom: 1px;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background-color: #ddd;
	color: #000;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 100%;
	line-height: 1.125em;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
 	background-image: url(images/body-background.gif);
	min-height:101%;
}

a:link{
	color: #006633; 
	background-color: transparent;
}

a:visited {
	color: #3d3d00; 
	background-color: transparent;
}

a:active{
	color: #669966; 
	background-color: transparent;
}

#outerbox {
	width: auto;	
	background-color: #fff;
	text-align: center;
}




#header-background {
	background: #007342;
	padding: 20px 25px 0px 30px;
	margin: 0;
 	background-image: url(images/header-background.gif);
 	background-repeat: repeat-x;
 	text-align: left;
 	height: 90px;
}

#header {
	width: 900px;	
	margin:0px auto;
}

#logo {
	border: none;
	padding-top: 5px;
}

#thayer-logo {
	float: right; 
	border: 0; 
	margin-top: 10px;
}

/* #header-print {display: none;} */

#header-print {
	position: absolute;
	left: -999px;
	top: -999px;
	width: 1px;
	height: 1px
}

#logo-print {
	width: 1px;
	height: 1px;
}

#thayer-logo-print {
	width: 1px;
	height: 1px;
}


/* Main content area */
#container {
	margin:0px auto;
	text-align: left;
	width: 900px;	
}


#navigation {
	float: left;
	display: inline;
	font-size: 0.85em;
	width: 205px;
	margin-right: 15px;
	padding: 30px 0;
	text-align: left;
}	


#side-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-family: Arial, sans-serif;
	border: solid 3px #999;
}

#side-navigation li {
	border-bottom: 1px solid #99dd80;
}

#side-navigation li#last {
	border-bottom: 1px solid #007324;
}


#side-navigation a:link, #side-navigation a:visited {
	display: block;
	padding: 6px 10px 6px 10px;
	color: #f2ec80;
	background-color: #007324;
	text-decoration: none;
}

#side-navigation a:hover {
	display: block;
	color: #fff;
	background-color: #009924;
}

#side-navigation #subnav {
	margin-top:0;
	padding-top:0;
	font-weight: normal;
	border: none;
	border-top: 1px solid #007324;
}

#side-navigation #subnav li {
	border-bottom: 1px solid #007324;
}

#side-navigation #subnav li#last-item {
	border-bottom: 1px solid #007324;
}

body#student-fees-schedule #side-navigation #subnav li#last-item,
body#fees #side-navigation #subnav li#last-item
 {
	border-bottom: 1px solid #009924;
}

#side-navigation #subnav a {
	padding: 3px 20px 3px 35px;
}


#secondary-nav {
	background-color: #ccc;
	margin-top: 7px;
	margin-bottom: 20px;
	padding: 4px 0px 0px 0px;
	color: #007324;
	border: solid 1px #999;
	font-family: Arial, sans-serif;
	font-size: 0.95em;
}

#secondary-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#secondary-nav li {
	border-bottom: 2px solid #ccc;
	padding-left: 2px;
	padding-right: 2px;
}

#secondary-nav a:link, #secondary-nav a:visited {
	display: block;
	padding: 1px 20px 1px 15px;
	color: #007342;
	text-decoration: none;
}

#secondary-nav a:hover {
	display: block;
	color: #000;
	background-color: #999;
}

body#staff a#menu-staff, 
body#links a#menu-links, 
body#faqs a#menu-faqs, 
body#contact a#menu-contact {
	color: #000;
	background-color: #999;
}

body#curriculum a#menu-curriculum, 
body#fees a#menu-fees, 
body#schedule a#menu-schedule, 
body#home a#menu-home, 
body#about a#menu-about, 
body#professionals a#menu-professionals, 
body#curriculum a#menu-professionals,
body#fees a#menu-professionals,
body#schedule a#menu-professionals,
body#students a#menu-students, 
body#consulting a#menu-consulting, 
body#student-curriculum a#menu-student-curriculum, 
body#student-fees-schedule a#menu-student-schedule-fees, 
body#student-curriculum a#menu-students, 
body#student-fees-schedule a#menu-students
 {
	color: #fff;
	background-color: #009924;
}

#content {
	float: left;
	width: 665px;
	padding: 0px 0px 25px 15px;
	font-size: 0.85em;
}

#content h1, #content h2, #content h3 {
	padding: 0;
	color: #333;
	font-weight: bold;
	text-align: left;
	font-family: Arial, sans-serif;
}

#content h1 {
	margin-top: 35px;
	margin-bottom: 15px;
	font-size: 1.8em;
}

#content h2 {
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 1.35em;
	padding: 0;
	margin-top: 20px;
}

#content h3 {
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 1.1em;
}

#content h4 {
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 1em;
}


#content ul, #content ol {
	padding-top: 0px;
	margin-top:4px;
	padding-bottom: 10px;
}	

#content ul li, #content ol li {
	line-height: 1.45em;
}

#content ul.green-belt {
	padding-bottom: 0px;
}	

#content ul.green-belt li {
	margin-bottom: 5px;
}	

#content div.photo-right {
	float: right; 
	margin: 10px 0px 10px 10px;
}

#content table.fees {
	border-top: solid 1px #ccc;
	border-left: solid 1px #ccc;
	margin: 15px auto 15px auto;
}

#content table.fees td {
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	padding: 10px 35px;
}

#content table.staff td {
	padding: 0px 8px 20px 0px;
	vertical-align: top;
	margin: 0;
}

#content table.staff td.shield {
	text-align: center;
}

#content table.staff td img {
	padding-top: 2px;
}

#content table.staff .name {
	font-weight: bold;
}	

#content table.staff .specialty {
	font-style: italic;
}	

#content p.p-after-h2 {
	margin-top: 2px; 
	padding-top: 0px;
}

#content ol.ol-padding-bottom li {
	padding-bottom: 10px;
}

#content #news-box {
	float:right; 
	width: 135px; 
	border: solid 1px #aaa;
	padding: 12px 18px 12px 18px ;
	margin:0px 0px 50px 50px; 
}

#content #news-box h2 {
	color: #000;
	font-size: 1em;
	padding-top: 0;
	margin-top: 0px;
	padding-bottom: 5px;
	border-bottom: solid 1px #aaa;
}

#content #news-box p {
	 font-size:0.85em; 
	 color: #444; 
	 padding-top: 1px;
	 margin-bottom: 0px;
}


/* Footer */
#footer {
	clear: both;
	border-top: 1px solid #afafaf;
	font-size: 0.8em;
	line-height: 1.5em;
	text-align: center;
	color: #676767;
	background-color: #ffffff;
	margin-top: 10px;
	padding: 10px 20px 10px 20px;
	
}

#footer a:link, #footer a:visited, #footer a:hover, #footer a:active {
	color: #006633; 
	background-color: transparent;
}
