body
{
   background-color:#e0e0e0;
}

.border 
{
	background-color: #006633;
}

.main-area 
{
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.83em;
}

.bottomalign 
{ 
	vertical-align: bottom; 
}

h1
{
	font-size:1.6em;
	margin: 2px 0 8px 0;
}

h2
{
	font-size:1.14em;
	margin: 2px 0 8px 0;
}

.main-table-head
{
	font-size: 1em;
/* 	background-color: #006633; */
/* 	color: #ffffff; */
	padding: 12px;
	line-height: 1.5em;
	vertical-align: top;
	text-align: center;
	font-weight: bold;
	border: #006633 solid thin;
}

.table-border
{
	border: #006633 solid thin;

}

.main-table-cell
{
	font-size: 0.83em;
/* 	background-color: #006633; */
/* 	color: #ffffff; */
	padding: 12px;
	line-height: 1.5em;
	vertical-align: top;
	border: #006633 solid  thin;
}

.left-align
{
	font-size: 0.83em;
	padding: 12px;
	line-height: 1.5em;
	vertical-align: top;
	text-align:left;
}

.right-align
{
	font-size: 0.83em;
	padding: 12px;
	line-height: 1.5em;
	vertical-align: top;
	text-align:right;
}
